@import "colors";

@mixin mainContainer($color: $black) {
  width: 100%;
  height: 100%;
  background-color: $black;
}

@mixin flex($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

@mixin submitBtn($bgColor: $green, $active: $darkGreen, $color: $white) {
  display: block;
    width: 180px;
    margin: 15px auto 0;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: $bgColor;
    color: $color;
    transition: 0.3s ease;
    &:hover {
      background-color: $active;
    }
    &:active {
      transition: 0s ease;
      transform: scale(0.97);
    }
}